body{
    
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin: auto;
}
.container{
    background-image: url(photo-1459183885421-5cc683b8dbba.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-size:cover;
    padding-top: 50px;
}
.container h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 80px;

}
.container p{
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    
}
.button{
    text-align: center;
    margin-left: 570px;
    margin-right: 570px;
    padding: 20px;
    background-color:orangered;
    border-radius: 5px;
    margin-top: 100px;
    font-size: 15px;
}
.button a{
    text-decoration: none;
    color: #fff;
}

.container-tow{
    text-align: center;

}
.container-tow h1{
    font-size: 40px;
}
.list-container{
    margin-top: 100px;
    height: 300px;
}
ul li{
    list-style: none;
}
.list-item ul li{
   text-align: center;
   width: 10%;
   padding: 25px;
   margin-right: 120px;
   float: right;
   background-color: beige;
   font-size: 30px;
   font-weight: bolder;
   margin-top: 50px;
}
.plan{
    text-align: center;
    margin: 70px;
}
.plan h1{
    font-size: 40px;
}

.donate-plan{
    display: flex;
    margin: 50px;
    
    font-size: 18px;
}
.diffrent{
    width: 33%;
    margin: 30px;
    padding: 30px;
    background-color: sandybrown;
    border-radius: 10px;
}
.diffrent-one{
    width: 33%;
    margin: 30px;
    padding: 30px;
    background-color: seashell;
    border-radius: 10px;
}
.diffrent-tow{
    width: 33%;
    margin: 30px;
    padding: 30px;
    background-color: cadetblue;
    border-radius: 10px;
}
#photos{
    display: flex;
    
   
}
.left-site{
    width: 50%;
    padding: 50px;
    
}
.right-site{
    width: 50%;
  margin-top: 30px;
}
.left-site h1{
    font-size: 50px;
}
#photos-tow{
    display: flex;
    margin-top: 50px;
    background-color: mediumaquamarine;
    
}
.left-last{
    width: 50%;
    padding: 50px;
}
.right-last{
    width: 50%;
    margin: 50px;
    margin-bottom: 50px;
}
.left-last h1{
    font-size: 50px;
}
.contribute-button{
    text-decoration: none;
    color: #fff;
    padding: 20px;
    display: block;
    width: 30%;
    background-color: coral;
    border-radius: 10px;
}
.finished{
    background-color: bisque;
    line-height: 180px;
    margin-left: 190px;
    margin-right: 190px;
    text-align: center;
    margin-top: 60px;
}
.finished input{
    padding: 15px;
    text-align: left;
    background-color: darkgray;
    border: none;
    width: 200px;
    border-radius: 2px;
}
.finished button{
    padding: 15px;
  background-color: crimson;
  border: none;
  border-radius: 2px;
  width: 150px;
  color: #fff;
  margin-left: -7px;
}
.finished-one{
    text-align: center;
    font-size: 20px;
    width: 90%;
    margin-left: 30px;
    padding: 30px;
}
footer{
    line-height: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}
.underline input{
    width: 50%;
    text-align: center;
    margin-top: 80px;
    margin-left: 330px;
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px;
}
