body{
    
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin: auto;
}
.container{
    background-image: url(photo-1459183885421-5cc683b8dbba.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 30px;
}
.container h1{
    color: #fff;
    text-align: center;
    font-size: 60px;
    padding: 30px;
    margin-bottom: 50px;
}
.container p{
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}
.button{
    text-align: center;
    margin-left: 570px;
    margin-right: 570px;
    padding: 20px;
    background-color:orangered;
    border-radius: 15px;
    margin-top: 100px;
    font-size: 15px;
}
.button a{
    text-decoration: none;
    color: #fff;
}

.container-tow{
    text-align: center;
    font-size: 20px;
}
.list-container{
    margin-top: 100px;
    height: 300px;
}
ul li{
    list-style: none;
}
.list-item ul li{
   text-align: center;
   width: 10%;
   padding: 25px;
   margin-right: 120px;
   float: right;
   background-color: beige;
   font-size: 30px;
   font-weight: bolder;
   margin-top: 50px;
}
.plan{
    text-align: center;
    font-size: 20px;
    margin: 70px;
}

.donate-plan{
    display: flex;
    margin: 50px;
    
    font-size: 18px;
}
.diffrent{
    width: 33%;
    margin: 30px;
    padding: 30px;
    background-color: sandybrown;
    border-radius: 10px;
}
.diffrent-one{
    width: 33%;
    margin: 30px;
    padding: 30px;
    background-color: seashell;
    border-radius: 10px;
}
.diffrent-tow{
    width: 33%;
    margin: 30px;
    padding: 30px;
    background-color: cadetblue;
    border-radius: 10px;
}